extends modules/layout/_page-default
       
block head
  +head('Home')

block main
  section.banner
    .banner-info
      .banner-content
        h2 Meet Brandi!
        div 
          span.create /creative 
          | one page template
        span.more We are a team of professionals
      .banner-social
        i.fab.fa-twitter
        i.fab.fa-facebook-f
        i.fab.fa-google-plus-g.google
        i.fab.fa-dribbble
  section.section.features
    .container
      h2.section-title features
      .product.owl-carousel.owl-theme.js-product
        .item
          .product-info.branding
            h3.product-title Branding
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        .item
          .product-info.develop
            h3.product-title Development
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        .item
          .product-info.consulting
            h3.product-title Consulting
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        .item
          .product-info.branding
            h3.product-title Branding
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        .item
          .product-info.develop
            h3.product-title Development
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        .item
          .product-info.consulting
            h3.product-title Consulting
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        .item
          .product-info.branding
            h3.product-title Branding
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        .item
          .product-info.develop
            h3.product-title Development
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        .item
          .product-info.consulting
            h3.product-title Consulting
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
  section.section.works
    .container
      h2.section-title works
      p.section-info Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
      ul.nav.nav-tabs
        li.nav-item
          a.nav-link.active(href="#") All
        li.nav-item
          a.nav-link(href="#!") Branding
        li.nav-item
          a.nav-link(href="#!") Web
        li.nav-item
          a.nav-link(href="#!") Logo Design
        li.nav-item
          a.nav-link(href="#!") Photography
      .row
        .col-12.col-sm-6.col-md-3
          .work-img
            img.img-fluid(src="images/work1.jpg", alt="")
            .layer
              i.layer-eye.fas.fa-eye
              div Labore et dolore magnam
              span Photography
        .col-12.col-sm-6.col-md-3
          .work-img
            img.img-fluid(src="images/work1.jpg", alt="")
            .layer
              i.layer-eye.fas.fa-eye
              div Labore et dolore magnam
              span Photography
        .col-12.col-sm-6.col-md-3
          .work-img
            img.img-fluid(src="images/work1.jpg", alt="")
            .layer
              i.layer-eye.fas.fa-eye
              div Labore et dolore magnam
              span Photography
        .col-12.col-sm-6.col-md-3
          .work-img
            img.img-fluid(src="images/work1.jpg", alt="")
            .layer
              i.layer-eye.fas.fa-eye
              div Labore et dolore magnam
              span Photography
        .col-12.col-sm-6.col-md-3
          .work-img
            img.img-fluid(src="images/work1.jpg", alt="")
            .layer
              i.layer-eye.fas.fa-eye
              div Labore et dolore magnam
              span Photography
        .col-12.col-sm-6.col-md-3
          .work-img
            img.img-fluid(src="images/work1.jpg", alt="")
            .layer
              i.layer-eye.fas.fa-eye
              div Labore et dolore magnam
              span Photography
        .col-12.col-sm-6.col-md-3
          .work-img
            img.img-fluid(src="../images/work1.jpg", alt="")
            .layer
              i.layer-eye.fas.fa-eye
              div Labore et dolore magnam
              span Photography
        .col-12.col-sm-6.col-md-3
          .work-img
            img.img-fluid(src="../images/work1.jpg", alt="")
            .layer
              i.layer-eye.fas.fa-eye
              div Labore et dolore magnam
              span Photography
  section.section.meet-team
    .container
      h2.section-title meet out team
      p.section-info Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
      .meet-team-product.owl-theme.owl-carousel.js-meet-team
        .card.item
          .card-img
            img.img-fluid.card-img-top(src="../images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title John Filmr Doe
            span.card-text Managing Directo
        .card.item
          .card-img
            img.img-fluid.card-img-top(src="../images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title John Filmr Doe
            span.card-text Managing Directo
        .card.item
          .card-img
            img.img-fluid.card-img-top(src="../images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title John Filmr Doe
            span.card-text Managing Directo
        .card.item
          .card-img
            img.img-fluid.card-img-top(src="../images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title John Filmr Doe
            span.card-text Managing Directo
        .card.item
          .card-img
            img.img-fluid.card-img-top(src="../images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title John Filmr Doe
            span.card-text Managing Directo
        .card.item
          .card-img
            img.img-fluid.card-img-top(src="../images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title John Filmr Doe
            span.card-text Managing Directo
        .card.item
          .card-img
            img.img-fluid.card-img-top(src="../images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title John Filmr Doe
            span.card-text Managing Directo
        .card.item
          .card-img
            img.img-fluid.card-img-top(src="../images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title John Filmr Doe
            span.card-text Managing Directo
        .card.item
          .card-img
            img.img-fluid.card-img-top(src="../images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title John Filmr Doe
            span.card-text Managing Directo
        .card.item
          .card-img
            img.img-fluid.card-img-top(src="../images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title John Filmr Doe
            span.card-text Managing Director
        .card.item
          .card-img
            img.img-fluid.card-img-top(src="../images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title John Filmr Doe
            span.card-text Managing Directo
        .card.item
          .card-img
            img.img-fluid.card-img-top(src="../images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title John Filmr Doe
            span.card-text Managing Director
        
  section.section.statistics
    .container 
      h2.section-title Some fun facts
      .row
        .col-6.col-md-3
          .statistics-info
            i.clock.far.fa-clock
            .statistics-data
              span 3200
              span.text hours of work
        .col-6.col-md-3
          .statistics-info
            i.friend.fas.fa-user-friends
            .statistics-data
              span 120
              span.text satisfied clinets
        .col-6.col-md-3
          .statistics-info
            i.rocket.fas.fa-rocket
            .statistics-data
              span 360
              span.text projects delivered
        .col-6.col-md-3
          .statistics-info
            i.cup.fas.fa-trophy
            .statistics-data
              span 42
              span.text awards won


  