extends modules/layout/_page-default
                         
block head
  +head('Home')

block main
  section.banner
    .banner__info
      .banner__content
        h2 Meet Brandi!
        div 
          span.banner__content--create /creative 
          | one page template
        span.banner__content--more We are a team of professionals
      .banner__social
        i.fab.fa-twitter
        i.fab.fa-facebook-f
        i.fab.fa-google-plus-g.google
        i.fab.fa-dribbble
  section.section.features
    .container
      h2.section-title.features__title features
      .product.owl-carousel.owl-theme.js-product
        .item
          .product__info.branding
            h3.product-title Branding
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        .item
          .product__info.develop
            h3.product-title Development
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        .item
          .product__info.consulting
            h3.product-title Consulting
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        .item
          .product__info.branding
            h3.product-title Branding
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        .item
          .product__info.develop
            h3.product-title Development
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        .item
          .product__info.consulting
            h3.product-title Consulting
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        .item
          .product__info.branding
            h3.product-title Branding
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        .item
          .product__info.develop
            h3.product-title Development
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        .item
          .product__info.consulting
            h3.product-title Consulting
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
  section.section.works
    .container
      h2.section-title.works__title works
      p.section-info.works__info Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
      ul.nav.nav-tabs
        li.nav-item
          a.nav-link.active(href="#") All
        li.nav-item
          a.nav-link(href="#!") Branding
        li.nav-item
          a.nav-link(href="#!") Web
        li.nav-item
          a.nav-link(href="#!") Logo Design
        li.nav-item
          a.nav-link(href="#!") Photography
    .container-fluid
      .row
        .col-12.col-sm-6.col-md-3
          .work-img
            img.img-fluid(src="images/work1.jpg", alt="")
            .layer
              i.layer-eye.fas.fa-eye
              div Labore et dolore magnam
              span Photography
        .col-12.col-sm-6.col-md-3
          .work-img
            img.img-fluid(src="images/work1.jpg", alt="")
            .layer
              i.layer-eye.fas.fa-eye
              div Labore et dolore magnam
              span Photography
        .col-12.col-sm-6.col-md-3
          .work-img
            img.img-fluid(src="images/work1.jpg", alt="")
            .layer
              i.layer-eye.fas.fa-eye
              div Labore et dolore magnam
              span Photography
        .col-12.col-sm-6.col-md-3
          .work-img
            img.img-fluid(src="images/work1.jpg", alt="")
            .layer
              i.layer-eye.fas.fa-eye
              div Labore et dolore magnam
              span Photography
        .col-12.col-sm-6.col-md-3
          .work-img
            img.img-fluid(src="images/work1.jpg", alt="")
            .layer
              i.layer-eye.fas.fa-eye
              div Labore et dolore magnam
              span Photography
        .col-12.col-sm-6.col-md-3
          .work-img
            img.img-fluid(src="images/work1.jpg", alt="")
            .layer
              i.layer-eye.fas.fa-eye
              div Labore et dolore magnam
              span Photography
        .col-12.col-sm-6.col-md-3
          .work-img
            img.img-fluid(src="images/work1.jpg", alt="")
            .layer
              i.layer-eye.fas.fa-eye
              div Labore et dolore magnam
              span Photography
        .col-12.col-sm-6.col-md-3
          .work-img
            img.img-fluid(src="images/work1.jpg", alt="")
            .layer
              i.layer-eye.fas.fa-eye
              div Labore et dolore magnam
              span Photography
  section.section.meet-team
    .container
      h2.section-title.meet-team__title meet out team
      p.section-info.meet-team__info Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
      .meet-team-product.owl-theme.owl-carousel.js-meet-team
        .card-item
          .card-img
            img.img-fluid.card-img-top(src="images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title John Filmr Doe
            span.card-text Managing Directo
        .card-item
          .card-img
            img.img-fluid.card-img-top(src="images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title Chystine Hineu
            span.card-text Lead Designer
        .card-item
          .card-img
            img.img-fluid.card-img-top(src="images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title MartinMatrone
            span.card-text Lead Developer
        .card-item
          .card-img
            img.img-fluid.card-img-top(src="images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title Steve Flaulkin
            span.card-text Sr. UI Designer
        .card-item
          .card-img
            img.img-fluid.card-img-top(src="images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title John Filmr Doe
            span.card-text Managing Directo
        .card-item
          .card-img
            img.img-fluid.card-img-top(src="images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title Steve Flaulkin
            span.card-text Sr. UI Designer
        .card-item
          .card-img
            img.img-fluid.card-img-top(src="images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title MartinMatrone
            span.card-text Lead Developer
        .card-item
          .card-img
            img.img-fluid.card-img-top(src="images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title John Filmr Doe
            span.card-text Managing Directo
        .card-item
          .card-img
            img.img-fluid.card-img-top(src="images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title Steve Flaulkin
            span.card-text Sr. UI Designer
        .card.item
          .card-img
            img.img-fluid.card-img-top(src="images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title Chystine Hineu
            span.card-text Lead Designer
        .card-item
          .card-img
            img.img-fluid.card-img-top(src="images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title MartinMatrone
            span.card-text Lead Developer
        .card-item
          .card-img
            img.img-fluid.card-img-top(src="images/meet-team1.jpeg" alt="")
            .layer
              div Nemo enim ipsam voluptatem quia voluptas
                span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
              .social
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-google-plus-g.google
          .card-body
            h4.card-title Chystine Hineu
            span.card-text Lead Designer
        
  section.section.statistics
    .container.statistics__inner
      h2.section-title.statistics__title Some fun facts
      .row
        .col-6.col-md-3
          .statistics__info
            i.clock.far.fa-clock
            .statistics__data
              span 320
              span.statistics__data-text hours of work
        .col-6.col-md-3
          .statistics__info
            i.friend.fas.fa-user-friends
            .statistics__data
              span 120
              span.statistics__data-text satisfied clinets
        .col-6.col-md-3
          .statistics__info
            i.rocket.fas.fa-rocket
            .statistics__data
              span 360
              span.statistics__data-text projects delivered
        .col-6.col-md-3
          .statistics__info
            i.cup.fas.fa-trophy
            .statistics__data
              span 42
              span.statistics__data-text awards won
  section.section.discuss
    .container
      h2.section-title.discuss__title Let's discuss
      p.section-info.discuss__info Sed error sit voluptatem laudan-tium, totam rem aperiam, eaque ab illo inventore.
      .row.text-left
        .col-12.col-sm-6.col-md-3
          h3.discuss__sub-title Cras at ultrices, sed vulputae!
          .discuss__information
            span.discuss__information-address 2345 Setwant natrer, 1234, 
            span.discuss__information-address Washington. United States.
            span.discuss__information-phone (401) 1234 567
            span.discuss__information-email hello@brandi.com
            span.discuss__information-web ww.brandi.com
        .col-12.col-sm-6.col-md-8
            h3.discuss__sub-title.discuss__sub-title--bold Say hello!
            form.discuss__form.form-group
              .row
                .col-12.col-md-6
                  input.form-control(type="text" placeholder="Name")
                .col-12.col-md-6
                  input.form-control(type="emal" placeholder="Email")
              .row.discuss__form--textare
                .col-12
                  textarea.form-control(placeholder="Message", cols="1", rows="1")
                .col-md-12.text-right
                  button.discuss__form-submit
                    i.far.fa-envelope
                    span Send message
        .d-none.d-md-block.col-md-1
          .discuss__social
            i.fab.fa-fw.fa-twitter
            i.fab.fa-fw.fa-facebook-f
            i.fab.fa-fw.fa-google-plus-g.google
            i.fab.fa-fw.fa-dribbble
            i.fab.fa-fw.fa-google-plus-g.google
  section.section.map
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1862.1912863178334!2d105.7829304579628!3d21.01737300026917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab54ef80077d%3A0x1c375dcb13b05376!2zS2VhbmduYW0sIE3hu4UgVHLDrCwgVOG7qyBMacOqbSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1556905140599!5m2!1svi!2s" width="100%" height="215px" frameborder="0" allowfullscreen)
  footer.footer
    .container
      .row
        .col-12.col-sm-6.col-md-3
          .footer__logo
            a(href="home.html") Brandi
          p.footer__desc usmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        .col-12.col-sm-6.col-md-3
          h4.footer__title Subscribe
          form.footer__form
            input.form-control.form-control--border(type="text")
            button.footer__form-submit
              i.fas.fa-arrow-right
          p.footer__desc eusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-12.col-sm-12.col-md-6
          h4.footer__title Explore
          .row
            .col-3.col-md-3
              ul
                li.footer__item
                  a(href="#") Envato
                li.footer__item
                  a(href="#") Themecurve
                li.footer__item
                  a(href="#") Kreativeshowcase
                li.footer__item
                  a(href="#") Freebiescurve
            .col-3.col-md-3
              ul
                li.footer__item
                  a(href="#") Themeforest
                li.footer__item
                  a(href="#") Microsoft
                li.footer__item
                  a(href="#") Google
                li.footer__item
                  a(href="#") Yahoo
            .col-6.col-md-6.d-flex.flex-column.justify-content-between
              .footer__about
                | Created with
                i.far.fa-heart
                | by 
                a(href="#") themecurve
                | , exclusive for kreativeshowcase
              .footer__copy
                | &copy; 2014 Brandi. All Rights Reserved.

        


  