extends modules/layout/_page-default
       
block head
  +head('Home')

block main
  .banner
    .banner-info
      .banner-content
        h2 Meet Brandi!
        div 
          span.create /creative 
          | one page template
        span.more We are a team of professionals
      .banner-social
        i.fab.fa-twitter
        i.fab.fa-facebook-f
        i.fab.fa-google-plus-g.google
        i.fab.fa-dribbble
  section.section.features
    .container
      h2.features-tittle features
      .product.row
        .col-12.col-md-4
          .product-info.branding
            h3.product-title Branding
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        .col-12.col-md-4
          .product-info.develop
            h3.product-title Development
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        .col-12.col-md-4
          .product-info.consulting
            h3.product-title Consulting
            p Sed up perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan-tium, totam rem aperiam, eaque ab illo inventore.
        


  