//-------------------------------------------------------
//- Styleguides :: Colors
//-------------------------------------------------------

-
  var colors = [
    { key: '$cl-white', color: '#fff' },
    { key: '$cl-black', color: '#000' },
    { key: '$cl-black-light', color: '#2c3c4a' },
    { key: '$cl-gray', color: '#ccc' },
    { key: '$cl-gray-light', color: '#f4f7f9' },
    { key: '$cl-grey', color: '#c2d2df' },
    { key: '$cl-blue', color: '#00f' },
    { key: '$cl-active', color: '#32b0ee'},
    { key: '$cl-green', color: '#0feb9e' },
    { key: '$cl-green-dark', color: '#0eb493' },
  ];

.row
  each val in colors
    .col-4
      .code-example
        .demo(style=`background-color: ${val.color}; width: 100%; height: 100px`)
        pre
          code
            | #{val.key}: #{val.color}
