// ======================================================
// Pages :: Home
// ======================================================
// Start classname with prefix `p-`

.banner {
  min-height: 800px;
  background: url('../images/bg1.jpg') center center;
  background-size: cover;
  position: relative;
  &-info {
    text-align: center;
    color: $cl-white;
    position: relative;
    top: 464px;
  }
  &-content {
    div {
      color: $cl-white;
      font-family: $font-family-base;
      font-size: 48px;
      font-weight: 300;
      line-height: 0;
      margin-bottom: 40px;
      margin-top: 18px;
    }
    .create {
      color: $cl-green;
    }
    .more {
      font-size: 18px;
      height: 18px;
    }
  }
  h2 {
    height: 48px;
    color: $cl-white;
    font-family: $font-family-base;
    font-size: 62px;
    font-weight: $font-weight-light;
    line-height: 0;
    text-align: center;
    margin-bottom: 0;
  }
  &-social {
    position: relative;
    width: 114px;
    margin: auto;
    top: 130px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    i {
      display: inline-block;
      opacity: .3;
    }
    .google {
      color: $cl-white;
      opacity: 1;
    }
  }
}
.section {
  text-align: center;
  &-title {
    color: $cl-green-dark;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: $font-weight-extra-bold - 100;
    text-align: center;
    padding-top: 117px;
    margin-bottom: 106px;
  }
  &-info {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    line-height: 24px;
    opacity: .8;
    color: $cl-black;
    font-family: $font-family-base;
    margin-left: 121px;
    margin-right: 121px;
    margin-bottom: 48px;
  }
}
.features {
  min-height: 460px;
  background-color: $cl-gray-light;
  .product {
    color: $cl-black;
    &-title {
      font-size: 20px;
      font-weight: $font-weight-bold;
      text-align: left;
    }
    p {
      font-size: 13px;
      text-align: left;
    }
    &-info {
      padding-left: 52px;
    }
    &-info:before {
      border: 1px solid $cl-green-dark;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      font-family: $font-icon;
      font-weight: $font-weight-extra-bold;
      color: $cl-green-dark;
      text-align: center;
      line-height: 36px;
    }
    .branding:before {
      content: '\f56b';
    }
    .develop:before {
      content: '\f303';
    }
    .consulting:before {
      content: '\f0a1';
      transform: rotate(-30deg);
    }
  }
}
.works {
  .nav {
    justify-content: center;
    &-tabs {
      border: 0;
      margin-bottom: 37px;
    }
    &-link {
      font-weight: $font-weight-bold;
      font-size: $font-size-base;
      color: $cl-black;
      padding: 2px 13px;
    }
    &-link:hover,
    &-link:focus {
      border: 0;
    }
    &-link.active {
      background: $cl-green-dark;
      border: 1px solid $cl-green-dark;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
.work-img,
.card-img {
  position: relative;
}
.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  background: $cl-green-dark;
  color: $cl-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all .5s;
  &-eye {
    width: 40px;
    height: 40px;
    color: $cl-white;
    line-height: 37px;
    border: 1px solid $cl-white;
    border-radius: 50%;
  }
  div {
    font-size: 16px;
    font-weight: 600;
    span {
      font-weight: 300;
      display: block;
    }
  }
}
.work-img:hover .layer,
.card-img:hover .layer {
  visibility: visible;
  opacity: .8;
  transition: all .5s;
}
.card {
  border: 0;
}
.card-img {
  .layer {
    justify-content: space-between;
    padding: 23px 26px;
    i {
      width: 42px;
      height: 42px;
      line-height: 40px;
      background: #00000045;
      margin-right: 4px;
    }
  }
  &-top {
    border-radius: 0;
  }
}
.card-body {
  .card-title {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $cl-green-dark;
  }
  .card-text {
    font-size: $font-size-base - 1;
    line-height: 24px;
    color: $cl-black;
    opacity: .56;
  }
}

$span: 'span';

.statistics {
  position: relative;
  background: url('../images/meet-team3.jpg') center center no-repeat;
  background-size: cover;
  &:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    top: 0;
    left: 0;
    background: rgba(37, 60, 75, .8);
    z-index: 5;
  }
  &__inner {
    position: relative;
    z-index: 10;
  }
  &__info {
    text-align: center;
    padding-bottom: 158px;
    color: #fff;
    i {
      width: 130px;
      height: 130px;
      margin: auto;
      border: 2px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 25px;
    }
  }
  &__data {
    $this: &;

    margin-top: 20px;
    span {
      display: block;
      text-transform: uppercase;
      font-size: 18px;
    }

    span:not(#{$this}-text) {
      font-size: 60px;
    }
  }
}
.discuss {
  &__sub-title {
    font-size: 24px;
    &--bold {
      font-weight: 600;
      margin-bottom: 48px;
    }
  }
  &__information {
    margin-top: 40px;
    line-height: 30px;
    > span {
      display: block;
    }
  }
  &__form {
    .form-control {
      border-width: 0 0 1px 0;
      border-radius: 0;
      padding-left: 0;
      padding-bottom: 20px;
      resize: none;
      &:focus {
        box-shadow: none;
        outline: 0;
      }
    }
    &-submit {
      background: none;
      border: 0;
      display: inline-flex;
      align-items: center;
      i {
        color: #0eb493;
        font-size: 18px;
      }
      span {
        margin-left: 10px;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
  &__social {
    padding-top: 40px;
    i {
      display: block;
      font-size: 18px;
      color: #cdd2d6;
      margin-bottom: 25px;
    }
  }
}
.map {
  margin-bottom: 0;
  border-bottom: 2px solid #000;
}
.footer {
  background: $cl-green-dark;
  padding: 100px 0;
  &__logo {
    margin-bottom: 45px;
    line-height: 15px;
    a {
      font-size: $font-sixe-extra-large;
      font-family: $font-family-special;
      color: $cl-white;
    }
  }
  &__desc {
    color: $cl-white;
    font-size: 15px;
  }
  &__title {
    margin-bottom: 45px;
    font-size: 18px;
    font-weight: 600;
    color: darken($cl-white, 15%);
  }
  &__form {
    position: relative;
    .form-control {
      background: none;
      width: 100%;
      color: $cl-white;
      margin-bottom: 27px;
      &--border {
        border-radius: 3px;
        border-width: 2px;
        border-color: $cl-white;
      }
      &:focus {
        box-shadow: none;
        outline: 0;
      }
    }
    &-submit {
      background: none;
      border: 0;
      color: $cl-white;
      position: absolute;
      right: 10px;
      opacity: .5;
      transform: scaleX(1.2);
      top: 8px;
    }
  }
  &__item {
    margin-bottom: 22px;
    a {
      color: $cl-white;
      font-size: 15px;
      font-weight: 500;
    }
  }
  &__about {
    color: $cl-white;
    a,
    i {
      color: $cl-black;
      display: inline-block;
    }
    i {
      margin: 0 8px;
    }
  }
}
.owl-dots button:focus {
  outline: 0;
  box-shadow: none;
}
